<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.yhdesai.makertoolbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".addTodo"
            android:label="Add ToDo" />
        <activity
            android:name=".chat"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:replace="android:value" />
        <meta-data
            android:name="com.android.support:customtabs:25.4.0"
            android:value="26.1.0"
            tools:replace="android:value" />
        <meta-data
            android:name="com.android.support:support-compat:26.1.0"
            android:value="26.1.0"
            tools:replace="android:value" />

        <meta-data
            android:name="com.android.support:support-v4:26.1.0"
            android:value="26.1.0"
            tools:replace="android:value" />
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_menu_send" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!-- <service android:name=".MyFirebaseMessagingService">
             <intent-filter>
                 <action android:name="com.google.firebase.MESSAGING_EVENT" />
             </intent-filter>
         </service>
 -->
        <activity android:name=".Dev" />
        <activity android:name=".Awesome_Libraries" />
        <activity android:name=".Edit_Profile" />
        <activity android:name=".Github" />
        <activity android:name=".Welcome_Screen" />
        <activity android:name=".Resources" />
        <activity android:name=".addLibrary" />
        <activity android:name=".colorPicker" />
        <activity android:name=".video" />
        <activity android:name=".ssh.SshActivity" />
        <activity android:name=".ssh.SSH_Connect" />
        <activity android:name=".GTodo" />
        <activity
            android:name=".MT_Activity"
            android:label="@string/title_activity_mt_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>